/* 
* Note: Do not write any CSS in this file. Only use it to import vendor CSS files from your node_modules directory.
*/

/* AOS */
@import '~aos/dist/aos.css';

/* Plyr */
@import '~plyr/dist/plyr.css';

