:root {
    /* Bootstrap vars */
    --bs-font-sans-serif: 'Metropolis', sans-serif;
    --bs-spacer: #{$spacer};
    --bs-gutter-width: #{$grid-gutter-width};

    /* Icon font family */
    --theme-font-icon: 'remixicon';
    --theme-font-icon-style: 'normal';

    /* Avatar */
    --theme-avatar-size: 90px;

    /* theme breakpoints using Bootstrap sass map */
    @each $breakpoint, $value in $grid-breakpoints {
        --theme-breakpoint-#{$breakpoint}: #{$value};
    }

    /* theme max widths using sass map */
    @each $breakpoint, $value in $container-max-widths {
        --theme-maxwidth-breakpoint-#{$breakpoint}: #{$value};
    }

}