<ul class="navbar-nav">
    <li class="nav-item dropdown position-static">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Features
        </a>
        <!-- Features dropdown menu-->
        <div class="dropdown-menu dropdown-megamenu">
            <div class="container">
                <!-- Dropdown Menu Links Section-->
                {{> navbar/dropdown-links }}
                <!-- /Dropdown Menu Links Section-->
            </div>
        </div>
        <!-- / Features dropdown menu-->
    </li>    
    <li class="nav-item">
        <a class="nav-link" href="{{webRoot}}/pricing.html">Pricing</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{webRoot}}/about.html">About</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{webRoot}}/contact.html">Contact</a>
    </li>
</ul>