<!-- Footer-->
<footer class="bg-dark pt-10 pb-8 {{configClassList}} {{classList}}">

    <div class="container">
        <!-- Free trial -->
        <div class="border-bottom border-white-10 pb-7">
            <div class="col-12 col-md-8 col-lg-6 d-flex mx-auto flex-column align-items-center justify-content-center">
                <h2 class="fs-1 fw-bolder text-white text-center">Try Sigma for free for 30 days with unlimited
                    features.</h2>
                <a href="#" class="btn btn-primary mt-3 w-100 w-md-auto" role="button">Start free trial</a>
            </div>
        </div>
        <!-- Free trial-->
    </div>

    <!-- Footer Menus-->
    <div class="container pt-7">

        <div class="d-flex flex-column flex-md-row justify-content-md-between align-items-center">

            <!-- Footer Logo-->
            <a class="d-flex align-items-center lh-1 text-white transition-opacity opacity-50-hover text-decoration-none mb-4 mb-md-0"
                href="#">
                <!-- Logo SVG Icon-->
                <span class="f-w-7 d-block text-success me-2">
                    {{> logo/logo-icon }}
                </span>
                <!--/ Logo SVG Icon -->
                <span class="fw-bold">Sigma</span>
            </a>
            <!-- /Footer Logo-->


            <!-- Footer socials-->
            <ul class="list-unstyled d-flex align-items-center justify-content-end">
                <li class="ms-5"><a href="#" class="text-white text-decoration-none opacity-50-hover transition-opacity"><i class="ri-facebook-circle-line ri-lg"></i></a></li>
                <li class="ms-5"><a href="#" class="text-white text-decoration-none opacity-50-hover transition-opacity"><i class="ri-twitter-line ri-lg"></i></a></li>
                <li class="ms-5"><a href="#" class="text-white text-decoration-none opacity-50-hover transition-opacity"><i class="ri-instagram-line ri-lg"></i></a></li>
                <li class="ms-5"><a href="#" class="text-white text-decoration-none opacity-50-hover transition-opacity"><i class="ri-snapchat-line ri-lg"></i></a></li>
            </ul>
            <!-- Footer socials-->
        </div>

        <div class="d-flex flex-wrap justify-content-between mt-5 mt-lg-7">

            <!-- Menu-->
            <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                <h6 class="text-uppercase fs-xs fw-bolder tracking-wider text-white opacity-50">Product</h6>
                <ul class="list-unstyled footer-nav">
                    <li><a href="#">Page builder <span class="badge bg-danger rounded ms-2 align-middle">new</span></a></li>
                    <li><a href="#">AI generator</a></li>
                    <li><a href="#">Landing page templates</a></li>
                    <li><a href="#">Sketch plugin</a></li>
                    <li><a href="#">Figma addon <span class="badge bg-primary rounded ms-2 align-middle">beta</span></a></li>
                    <li><a href="#">XD integration</a></li>
                </ul>
            </div>
            <!-- /Menu-->

            <!-- Menu-->
            <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                <h6 class="text-uppercase fs-xs fw-bolder tracking-wider text-white opacity-50">Company</h6>
                <ul class="list-unstyled footer-nav">
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Our core values</a></li>
                    <li><a href="#">Join our team</a></li>
                    <li><a href="#">Our blog</a></li>
                    <li><a href="#">Latest news</a></li>
                    <li><a href="#">Share price</a></li>
                </ul>
            </div>
            <!-- /Menu-->

            <!-- Menu-->
            <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                <h6 class="text-uppercase fs-xs fw-bolder tracking-wider text-white opacity-50">Navigation</h6>
                <ul class="list-unstyled footer-nav">
                    <li><a href="#">Start free trial</a></li>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Register</a></li>
                    <li><a href="#">Help & support</a></li>
                    <li><a href="#">Contact us</a></li>
                    <li><a href="#">Forgotten password</a></li>
                </ul>
            </div>
            <!-- /Menu-->

            <!-- Menu-->
            <div class="w-100 w-sm-50 w-lg-auto mb-4 mb-lg-0">
                <h6 class="text-uppercase fs-xs fw-bolder tracking-wider text-white opacity-50">Legals</h6>
                <ul class="list-unstyled footer-nav">
                    <li><a href="#">Privacy policy</a></li>
                    <li><a href="#">Terms & conditions</a></li>
                    <li><a href="#">Cookie policy</a></li>
                    <li><a href="#">Refund policy</a></li>
                    <li><a href="#">GDPR information</a></li>
                    <li><a href="#">Company legals</a></li>
                </ul>
            </div>
            <!-- /Menu-->

        </div>
    </div>
    <!-- Footer Menus-->

    <!-- Footer bottom-->
    <div class="container">
        <div class="border-top pt-6 mt-7 border-white-10 d-flex flex-column flex-md-row justify-content-between align-items-center">
            <span class="small text-white opacity-50 mb-2 mb-md-0">All rights reserved &copy Sigma 2021</span>
            <span class="small text-white opacity-50">Terms of service  |  Security policy</span>
        </div>
    </div>
    <!-- Footer bottom-->

</footer>
<!-- / Footer-->

<!-- Additional imports (modals, offcanvas)-->
{{> footer/imports }}
<!-- / Additional imports-->