<div class="my-5 d-none d-md-flex align-items-start justify-content-between">
    <div>
        <span class="display-3 fw-bold text-primary d-block">12</span>
        <span
            class="d-block fs-9 fw-bolder tracking-wide text-uppercase text-muted">Locations</span>
    </div>
    <div>
        <span class="display-3 fw-bold text-primary d-block">75K</span>
        <span
            class="d-block fs-9 fw-bolder tracking-wide text-uppercase text-muted">Customers</span>
    </div>
    <div>
        <span class="display-3 fw-bold text-primary d-block">160</span>
        <span class="d-block fs-9 fw-bolder tracking-wide text-uppercase text-muted">Staff</span>
    </div>
</div>